@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~react-toastify/dist/ReactToastify.min.css';


body {
  background-color: #0E0E0E;
  color: white;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-position-x: 98% !important;
  background: url(/assests/arrow.svg) right no-repeat;
}


/* Hide scrollbar for mobile */
.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
  
  /* Sidebar.css */
.scrollbar-thin {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #2B2B2B #1A1A1A; /* Firefox */
}

.scrollbar-thin::-webkit-scrollbar {
  width: 4px; /* Set width of the scrollbar */
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #1A1A1A; /* Track color */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #2B2B2B; /* Scrollbar color */
  border-radius: 32px; /* Round edges */
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@font-face {
  font-family: 'space'; 
  src: url('./fonts/SpaceGrotesk-Regular.ttf');
}

.Toastify__toast--success {
  background: black !important; /* success toast */
}

.Toastify__toast--error {
  background: black !important;
}
.toastBody {
  font-family: "space";
  color: #fff;
  font-size: 0.875rem !important;
}
.toastProgress {
  background: #5c2eaf!important;
}
